body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:718px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:36px;
  width:700px;
  height:1214px;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:36px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:36px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:36px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:36px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:36px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:36px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:84px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:66px;
  width:100px;
  height:84px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:66px;
  width:100px;
  height:84px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:66px;
  width:100px;
  height:84px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:66px;
  width:100px;
  height:84px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:66px;
  width:100px;
  height:84px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:66px;
  width:100px;
  height:84px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:84px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:150px;
  width:100px;
  height:84px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:150px;
  width:100px;
  height:84px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:150px;
  width:100px;
  height:84px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:150px;
  width:100px;
  height:84px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:150px;
  width:100px;
  height:84px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:150px;
  width:100px;
  height:84px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:234px;
  width:100px;
  height:84px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:234px;
  width:100px;
  height:84px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:234px;
  width:100px;
  height:84px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:234px;
  width:100px;
  height:84px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:234px;
  width:100px;
  height:84px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:234px;
  width:100px;
  height:84px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:234px;
  width:100px;
  height:84px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:100px;
  height:84px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:318px;
  width:100px;
  height:84px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:318px;
  width:100px;
  height:84px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:318px;
  width:100px;
  height:84px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:318px;
  width:100px;
  height:84px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:318px;
  width:100px;
  height:84px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:318px;
  width:100px;
  height:84px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:100px;
  height:116px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:402px;
  width:100px;
  height:116px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:402px;
  width:100px;
  height:116px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:402px;
  width:100px;
  height:116px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:402px;
  width:100px;
  height:116px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:402px;
  width:100px;
  height:116px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:402px;
  width:100px;
  height:116px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:518px;
  width:100px;
  height:116px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:518px;
  width:100px;
  height:116px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:518px;
  width:100px;
  height:116px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:518px;
  width:100px;
  height:116px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:518px;
  width:100px;
  height:116px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:518px;
  width:100px;
  height:116px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:518px;
  width:100px;
  height:116px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:634px;
  width:100px;
  height:116px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:634px;
  width:100px;
  height:116px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:634px;
  width:100px;
  height:116px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:634px;
  width:100px;
  height:116px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:634px;
  width:100px;
  height:116px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:634px;
  width:100px;
  height:116px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:634px;
  width:100px;
  height:116px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:100px;
  height:116px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:750px;
  width:100px;
  height:116px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:750px;
  width:100px;
  height:116px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:750px;
  width:100px;
  height:116px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:750px;
  width:100px;
  height:116px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:750px;
  width:100px;
  height:116px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:750px;
  width:100px;
  height:116px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:866px;
  width:100px;
  height:116px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:866px;
  width:100px;
  height:116px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:866px;
  width:100px;
  height:116px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:866px;
  width:100px;
  height:116px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:866px;
  width:100px;
  height:116px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:866px;
  width:100px;
  height:116px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:866px;
  width:100px;
  height:116px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:982px;
  width:100px;
  height:116px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:982px;
  width:100px;
  height:116px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:982px;
  width:100px;
  height:116px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:982px;
  width:100px;
  height:116px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:982px;
  width:100px;
  height:116px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:982px;
  width:100px;
  height:116px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:982px;
  width:100px;
  height:116px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1098px;
  width:100px;
  height:116px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1098px;
  width:100px;
  height:116px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1098px;
  width:100px;
  height:116px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1098px;
  width:100px;
  height:116px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1098px;
  width:100px;
  height:116px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1098px;
  width:100px;
  height:116px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1098px;
  width:100px;
  height:116px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
